In [ ]:
SELECT 'SQL is cool!'
AS result;

SELECT title, release_year from films;

SQL interacts with a relational database.

A relational database is a collection of tables.

WHERE allows you to filter based on text and numeric values

IN specify multiple OR conditions

BETWEEN specifies an inclusive range of values

LIKE is like WHERE but with wildcards (%, _)

SUM, AVG, MIN, MAX

AS aliasing, reassign with a temporary name

ORDER BY sorts in ascending order, goes at end of query

DESC sorts in descending order

GROUP BY allows you to group results by 1 or more columns

In [ ]:
SELECT DISTINCT country FROM films; # unique countries

SELECT COUNT(*)
FROM reviews; # how many records

SELECT * FROM films WHERE release_year = 2016;
SELECT COUNT(*) FROM films WHERE release_year < 2000;

SELECT title, release_year FROM films WHERE language = 'Spanish' AND release_year < 2000;

SELECT title, release_year FROM films WHERE release_year >= 1990 AND release_year < 2000;
AND (language = 'French' OR language='Spanish') AND gross > 2000000;

SELECT title, release_year FROM films WHERE release_year BETWEEN 1990 AND 2000;
AND budget > 100000000 AND (language = 'Spanish' OR language = 'French');

SELECT title, release_year FROM films WHERE release_year IN (1990, 2000) AND duration > 120;
SELECT title, language FROM films WHERE language IN ('English', 'Spanish', 'French');

SELECT name FROM people WHERE deathdate IS NULL;
SELECT COUNT(*) FROM films WHERE language IS NULL;

SELECT name FROM people WHERE name LIKE 'B%';
SELECT name FROM people WHERE name NOT LIKE 'A%';

SELECT title, (gross - budget) AS net_profit FROM films;

SELECT (COUNT(deathdate) * 100.00) / COUNT(*) AS percentage_dead FROM people;
SELECT (MAX(release_year) - MIN(release_year))/10.0 AS number_of_decades FROM films;

SELECT title FROM films WHERE release_year IN (2000, 2012) ORDER BY release_year;

SELECT release_year, country, max(budget) FROM films 
GROUP BY release_year, country 
ORDER BY release_year, country;

SELECT release_year, AVG(budget) as avg_budget, AVG(gross) as avg_gross FROM films
WHERE release_year > 1990 
GROUP BY release_year
HAVING AVG(budget) > 60000000
ORDER BY AVG(gross);